{% extends "accountregistrations/otherBase.html" %}
{% load i18n %}
{% load notification_tags %}
{% block title %}{% trans "Notifications" %}{% endblock %}
{% block content %}
    {% block style %}
    {% endblock style %}
    <div class="container-fluid">
        <div class='row'>
            <div class="col-md-12 mark_button">
                <form method='post' role='form' action="{% url 'notifications:mark_all' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type='submit' class="mark-all-notifications" name='action'
                            value="read">{% trans "Mark all as read" %}</button>
                    <button class="btn btn-primary" type='submit' class="mark-all-notifications" name='action'
                            value='unread'>{% trans "Mark all as unread" %}</button>
                </form>
            </div>
            <div class=col-md-12>

                <ul class="notifications list-group" style="margin-top: 20px;">
                    {% if notifications %}
                        {% render_notifications using notifications %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
