 <!-- Login Form -->
    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form method="post" role="form" action="{% url 'darshan:login' %}">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title" id="myModalLabel">Login</h2>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12" align="center">
                            <button type="submit" style="width: 200px;text-align: center;">Log in</button>
                        </div>
                        <br><br>
                        <div class="col-md-12" style="text-align: center;">
                            <a href="{% url 'darshan:home' %}" class="ab">New to My Site? Sign up</a>
                            <p><a href="{% url 'darshan:password_reset' %}" class="ab">Forgot Password?</a></p>
                            <p><strong>-- OR --</strong></p>
                            <p><a href="{% url 'social:begin' 'facebook' %}" class="ab">Login with Facebook</a></p>
                            <p><a href="{% url 'social:begin' 'google-oauth2' %}" class="ab">Login with Gmail</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <!--SignUp form for user and  seller-->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form role="form" action="{% url 'darshan:signup' %}" method="post">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title" id="myModalLabel">Sign Up</h2>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ Mobile_form.as_p }}
                        <select name="usertype" style="float:left;width: 428px;">
                            <option value="seller">Seller</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit">Sign Up</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

   <!-- TempleManager SignUp form-->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form role="form" action="{% url 'darshan:signup1' %}" method="post" id="manager_signup">
            <div class="modal-dialog ">
                <div class="modal-content modal-custom">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title" id="myModalLabel">Sign Up</h2>

                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ manager_form.as_p }}

                        


                         <p><label for="id_first_name">First name:</label>
                            <input type="text"
                                   name="first_name"
                                   
                                   id="{{ user_form.first_name.id_for_label }}1"
                                   value="{% if user_form.first_name.value %}{{ user_form.first_name.value }}{% endif %}">

                            {% if user_form.first_name.errors %}
                                <div class="alert alert-danger">
                                    {{ user_form.first_name.errors }}
                                </div>
                            {% endif %}
                                 
                        </p>
                        <p><label for="id_last_name">Last name:</label>
                            <input type="text"
                                   name="last_name"
                                  
                                   id="{{ user_form.last_name.id_for_label }}1"
                                   value="{% if user_form.last_name.value %}{{ user_form.last_name.value }}{% endif %}">
                            {% if user_form.last_name.errors %}
                                <div class="alert alert-danger">
                                    {{ user_form.last_name.errors }}
                                </div>
                            {% endif %}
                            

                        </p>
                        <p> <label for="id_username">Username:</label>
                            <input type="text"
                                   name="username"
                                   
                                   id="username1"
                                   value="{% if user_form.username.value %}{{ user_form.username.value }}{% endif %}" required>
                                 <!-- onblur="ValidateUsername();" -->
                            <span style="display: none;" id="susername1">username is invalid
                            </span> 
                            {% if user_form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ user_form.username.errors }}
                                </div>
                            {% endif %}
                                   
                           
                        </p>
                        <p >
                            <label for="id_email">Email:</label>
                            <input type="text"
                                   name="email"
                                   id="id_email1"
                                   value="{% if user_form.email.value %}{{ user_form.email.value }}{% endif %}" required>
                                   <!-- onblur="ValidateEmail();"> -->
                            <span style="display: none;" id="semail1">email is invalid</span>
                            {% if user_form.email.errors %}
                                <div class="alert alert-danger">
                                    {{ user_form.email.errors }}
                                </div>
                            {% endif %}
                                 
                           
                        </p>
                        <p >
                            <label for="id_password1">Password:</label>
                            <input type="password"
                                   name="password1"
                                                  
                                   id="password1"
                                   value="{% if user_form.password1.value %}{{ user_form.password1.value }}{% endif %}" required>
                                   <!-- onblur="Validatepassword1();" -->
                            <span style="display: none;" id="spassword1"></span>
                            {% if user_form.password1.errors %}
                               <div class="alert alert-danger">
                                    {{ user_form.password1.errors }}
                                </div>
                               
                            {% endif %}
                                   
                            
                        </p>
                        <p >
                            <label for="id_password2">Confirm Password:</label>
                            <input type="password"
                                   name="password2"
                                   
                                   id="password2"
                                   value="{% if user_form.password2.value %}{{ user_form.password2.value }}{% endif %}" required>
                                   <!-- onblur="Validatepassword2();" -->
                            <span style="display: none;" id="spassword2">Both Passwords don't match.</span>
                            {% if user_form.password2.errors %}
                                <div class="alert alert-danger">
                                    {{ user_form.password2.errors }}
                                </div>
                            {% endif %}
                                  
                           
                        </p>
                        <p>
                            <label for="id_Mobile_No">Mobile No.:</label>
                            <input type="text"
                                   name="Mobile No."
                                  
                                   id="mobile_number"
                                   value="{% if Mobile_form.Mobile_No.value %}{{ Mobile_form.Mobile_No.value }}{% endif %}" required>
                                   <!-- onblur="Validatemobile();" -->
                                 <span style="display: none;" id="smobile">Mobile number is invalid.</span>   
                            {% if Mobile_form.Mobile_No.errors %}
                                <div class="alert alert-danger">
                                    {{ Mobile_form.Mobile_No.errors }}
                                </div>
                            {% endif %}
                                 
                           
                        </p>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
