{% extends 'darshan/otherBase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% block style %}
    {% endblock style %}
    <div class="container-fluid" style="margin-top: 15px">
        <div class="row">
        <div class="col-md-12">
            <h2>Darshan Form</h2>
            <form method="Post" role="form" enctype="multipart/form-data">
                 {% for field in dar_add_form %}
                <p> 
                    <label for="{{ field.auto_id }}">{{ field.label_tag }}
                    {% if field.field.required %}
                        <span class="required" style="color: red;">*</span>
                    {% endif %}
                    </label>
                    
                    {{ field }}
                </p><br>
                {% endfor %}
                {% csrf_token %}
                <button type="submit" value="Save" class="btn btn-primary">
                    Save
                </button>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}