{% extends 'darshan/otherBase.html' %}
{% load staticfiles %}
{% load temple_extra %}

{% block content %}
    {% block style %}
    {% endblock style %}


    <div class="container-fluid" style="margin-top: 15px">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;">{{ q.temple2 }}</h1>
                <br>
            </div>
        </div>
        <div class=" row display">
            <div class="col-md-5">
                <img class=" img-responsive roundedCorner image" src="{{ q.images.url }}">
            </div>
            <div class="col-md-4">
                <table id="darshan" style="width: 100%">
                    <tr>
                        <th style="font-family: sans-serif">Rituals</th>
                        <th style="font-family: sans-serif">Timings</th>
                    </tr>

                    {% for z in s %}
                        <tr>
                            <td>{{ z.rituals }}</td>
                            <td>{{ z.timings }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary"
                        style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                    <a href="" style="color: white">
                        Book Pooja
                    </a>
                </button>
                <br>
                <button class="btn btn-primary"
                        style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                    <a style="color: white" {% if q.Online_Prasad %} href="{{ q.Online_Prasad }}" {% else %}
                       href="{% url 'shop:allproducts' %}"{% endif %}>
                        Order Prasad
                    </a>
                </button>
                <br>

                {% if user.is_authenticated %}
                    <button class="btn btn-primary" style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                        <a style="color: white" {% if q.Online_Donation %} href="{{ q.Online_Donation }}" {% else %} href="{% url 'darshan:Online_Donation'  v=q.temple2 %}" {% endif %}>Make
                        Donation</a>
                    </button>
                {% else %}
                    <button class="btn btn-primary"
                            style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                        <a class="launch-modal" data-toggle="modal" data-modal-id="myModal4" style="color: white">
                            Make Donation
                        </a>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Warning</h4>
                                </div>

                                <div class="modal-body">
                                    <p><strong>Signup or login as USER</strong></p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                    <button class="btn btn-primary"
                            style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                        <a href="{% url 'darshan:selectedTemple' pk=q.id %}" style="color: white">
                            Gallery
                        </a>
                    </button>
                {% else %}
                    <button class="btn btn-primary"
                            style="margin-bottom: 20px; margin-left: 10px; width: 200px; height: 34px;">
                        <a class="launch-modal" data-toggle="modal" data-modal-id="myModal4" style="color: white">
                            Gallery
                        </a>
                    </button>
                {% endif %}
                <br>

            </div>
        </div>
        <hr>
        <h2 class="text-center" style="font-family:'Carter One';color: black">Temple details</h2>
        <ul class="nav nav-tabs row">
            <li class="col-sm-2 col-md-offset-1"><a data-toggle="tab" href="#menu1">About Temple</a></li>
            <li class="col-sm-2"><a data-toggle="tab" href="#menu2">Administration</a></li>
            <li class="col-sm-2"><a data-toggle="tab" href="#menu3">Temple Facilities</a></li>
            <li class="col-sm-2"><a data-toggle="tab" href="#menu4">Miscelleneous</a></li>
            <li class="col-sm-2"><a data-toggle="tab" href="#menu4">Visit Temple</a></li>
        </ul>
        <!-- tab contents -->

        <div class="tab-content" id="detail" style="margin: 25px 50px">
            <div id="menu1" class="tab-pane active">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <h2 style="font-family: 'Carter One';">{{ q.temple2 }}</h2>
                    </tr>
                    <tr>
                        <td>Deity</td>
                        <td>{{ q.Deity }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ q.Address }}</td>
                    </tr>

                    <tr>
                        <td>About Temple</td>
                        <td>{{ q.About_Temple }}</td>
                    </tr>
                    <tr>
                        <td>Temple History</td>
                        <td>{{ q.Temple_History }}</td>
                    </tr>
                    <tr>
                        <td>Temple Purohit</td>
                        <td>{{ q.Temple_Purohit }}</td>
                    </tr>
                    <tr>
                        <td>Temple Purohit</td>
                        <td>{{ q.Temple_Purohit }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ q.Email }}</td>
                    </tr>
                    <tr>
                        <td>Contacts</td>
                        <td>{{ q.Contacts }}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{ q.Phone_Number }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ q.City }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="menu2" class="tab-pane fade">
                <table class="table table-striped">
                    <tbody>
                    {% if q.Live_Darshan_Link %}
                        <tr>
                            <td>Live Darshan link</td>
                            <td><a href="{{ q.Live_Darshan_link }}">Click Here</a></td>
                        </tr>
                    {% endif %}

                    {% if q.Religion %}
                        <tr>
                            <td>Religion</td>
                            <td>{{ q.Religion }}"</td>
                        </tr>
                    {% endif %}

                    {% if q.Website %}
                        <tr>
                            <td><a href="{{ q.Website }}" style="color: black">Website</a></td>
                            <td><a href="{{ q.Website }}">Click Here</a></td>
                        </tr>
                    {% endif %}

                    {% if q.Related_Temple %}
                        <tr>
                            <td>Related Temple</td>
                            <td>{{ q.Related_Temple }}</td>
                        </tr>
                    {% endif %}

                    {% if q.Related_Faith %}
                        <tr>
                            <td>Related Faith</td>
                            <td>{{ q.Related_Faith }}</td>
                        </tr>
                    {% endif %}

                    {% if q.Temple_History %}
                        <tr>
                            <td>Temple History</td>
                            <td>{{ q.Temple_History }}</td>
                        </tr>
                    {% endif %}

                    {% if q.Significance %}
                        <tr>
                            <td>Significance</td>
                            <td>{{ q.Significance }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Celebration %}
                        <tr>
                            <td>Celebration</td>
                            <td>{{ q.Celebration }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Management %}
                        <tr>
                            <td>Management</td>
                            <td>{{ q.Management }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Other_Deities %}
                        <tr>
                            <td>Other Deities</td>
                            <td>{{ q.Other_Deities }}</td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
            </div>

            <div id="menu3" class="tab-pane fade">
                <table class="table table-striped">

                    <tbody>
                    {% if q.Online_Donation %}
                        <tr>
                            <td><a href="{{ q.Online_Donation }}">Online Donation</a></td>
                            <td><a href="{{ q.Online_Donation }}">Click here</a></td>
                        </tr>
                    {% endif %}

                    {% if q.Online_Pooja %}
                        <tr>
                            <td><a href="{{ q.Online_Pooja }}">Online Pooja</a></td>
                            <td><a href="{{ q.Online_Pooja }}">Click here</a></td>
                        </tr>
                    {% endif %}

                    {% if q.Online_Facility %}
                        <tr>
                            <td><a href="{{ q.Online_Facility }}">Online Facility</a></td>
                            <td><a href="{{ q.Online_Facility }}">Click here</a></td>
                        </tr>
                    {% endif %}
                    {% if q.Accomodation_Link %}
                        <tr>
                            <td><a href="{{ q.Accomodation_Link }}">Accomodation Link</a></td>
                            <td><a href="{{ q.Accomodation_Link }}">Click here</a></td>
                        </tr>
                    {% endif %}
                    {% if q.Transportation %}
                        <tr>
                            <td>Transportation</td>
                            <td>{{ q.Transportation }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Annakshetra %}
                        <tr>
                            <td>Annakshetra</td>
                            <td>{{ q.Annakshetra }}</td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
            </div>

            <div id="menu4" class="tab-pane fade">
                <table class="table table-striped">
                    <tbody>
                    {% if q.State %}
                        <tr>
                            <td>State</td>
                            <td>{{ q.State }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Country %}
                        <tr>
                            <td>Country</td>
                            <td>{{ q.Country }}</td>
                        </tr>
                    {% endif %}
                    {% if q.About_City %}
                        <tr>
                            <td>About City</td>
                            <td>{{ q.About_City }}</td>
                        </tr>
                    {% endif %}
                    {% if q.How_To_Reach %}
                        <tr>
                            <td>How To Reach</td>
                            <td>{{ q.How_To_Reach }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Do_And_Dont %}
                        <tr>
                            <td>Do And Dont</td>
                            <td>{{ q.Do_And_Dont }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Amenities %}
                        <tr>
                            <td>Amenities</td>
                            <td>{{ q.Amenities }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Celebration %}
                        <tr>
                            <td>Celebration</td>
                            <td>{{ q.Celebration }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Precaution_While_Visiting %}
                        <tr>
                            <td>Precaution While Visiting</td>
                            <td>{{ q.Precaution_While_Visiting }}</td>
                        </tr>
                    {% endif %}
                    </tbody>


                </table>
            </div>

            <div id="menu5" class="tab-pane fade">
                <table class="table table-striped">
                    <tbody>
                    {% if q.Tender %}
                        <tr>
                            <td>Tender</td>
                            <td>{{ q.Tender }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Recruitment %}
                        <tr>
                            <td>Recruitment</td>
                            <td>{{ q.Recruitment }}</td>
                        </tr>
                    {% endif %}
                    {% if q.Notices_and_Updates %}
                        <tr>
                            <td>Notices and Updates</td>
                            <td>{{ q.Notices_and_Updates }}</td>
                        </tr>
                    {% endif %}

                    </tbody>


                </table>
            </div>

        </div>
    </div>

{% endblock %}