{% extends 'darshan/base.html' %}
{% load staticfiles %}

{% block head %}
    {{ user_form.media.css }}
    {{ profile_form }}
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head_extra %}
{% block content %}
    {% block style %}
        <style>
            form, button {
                color: black;
            }
        </style>
    {% endblock style %}



    <!--carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static  'images/canva-photo-editor (6).png' %}" alt="Temple1"
                     style="width:100%; height: 700px; filter: brightness(75%);" class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static  'images/canva-photo-editor (3).png' %}" alt="Temple2"
                     style="width:100%; height: 700px; filter: brightness(75%)"
                     class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static 'images/canva-photo-editor (1).png' %}" alt="Temple3"
                     style="width:100%; height: 700px; filter: brightness(75%)"
                     class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static 'images/canva-photo-editor (7).png' %}" alt="Temple4"
                     style="width:100%; height: 700px; filter: brightness(75%)"
                     class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static 'images/canva-photo-editor.png' %}" alt="Temple5"
                     style="width:100%; height: 700px; filter: brightness(60%)"
                     class="img-responsive">
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="features" class="features uk-container uk-margin-large-top">
                    <h3 class="title-deco uk-text-center title-text color-black-a54" style="text-align: center;">
                        <span class="triangle-up"></span>
                        <span class="triangle-down"></span>
                        <span class="heading" style="color:#555; font-weight: 700; font-family: 'Roboto', sans-serif;">DARSHANS</span>
                        <span class="triangle-up"></span>
                        <span class="triangle-down"></span>
                    </h3>
                </div>
            </div>
        </div>
        <br>
        <!-- HoverEffect Images -->
        <div class="row">
            {% for y in object_list %}
                <div class="col-sm-3 col-xs-6" style="text-align:center;">
                    <div class='thumbnail'>

                        <br>
                        {% if user.is_authenticated %}
                            <a href="{% url 'darshan:details' temp=y.temple2 %}" class="link">
                                <img class="image-container img-responsive roundedCorner"
                             src="{{ y.Display_image.url }}" style="min-width: 150px"><br>
                            {{ y.temple2 }}
                        </a>
                        {% else %}
                            <a href="{% url 'darshan:detail' temp1=y.temple2 %}" class="link">
                                <img class="image-container img-responsive roundedCorner"
                                 src="{{ y.Display_image.url }}" style="min-width: 150px"><br>
                                {{ y.temple2 }}
                            </a>
                        {% endif %}        

                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-xs-12" align="center">
                <div class="pagination ">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_change_var }}=1">&laquo; first</a>
                            <a href="?{{ page_change_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_change_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                            <a href="?{{ page_change_var }}={{ object_list.paginator.num_pages }} ">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="features" class="features uk-container uk-margin-large-top">
                    <h3 class="title-deco uk-text-center title-text color-black-a54" style="text-align: center;">
                        <span class="triangle-up"></span>
                        <span class="triangle-down"></span>
                        <span class="heading" style="color:#555; font-weight: 700; font-family: 'Roboto', sans-serif;">PRODUCTS</span>
                        <span class="triangle-up"></span>
                        <span class="triangle-down"></span>
                    </h3>
                </div>
            </div>
        </div>
        <br>
        <!--Shop Images -->
        <div class=" row display" id="shop">
            {% for prod in product %}
                <div class="col-md-3 col-sm-6 col-xs-6" style="margin-bottom: 15px;">

                    <a href="{% url 'shop:details1' pk=prod.id %}" style="color: white">
                        <div class="hovereffect">
                            <img {% if prod.Photo %}src="{{ prod.Photo.url }}"{% else %} alt="{{ prod.Product_Name }}" {% endif %}
                                 class="image-container img-responsive roundedCorner"
                                 style="width: 100%;">
                            <div class="overlay">
                                <h2>
                                    {{ prod.Product_Name }}
                                </h2>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" align="center">
                <a href="{% url 'shop:allproducts' %}" style="color: white">
                    <button class="btn btn-primary">
                        View all
                    </button>
                </a>
            </div>
            <br>
            <br>
        </div>
        <hr>
        <div id="contact" class="container-fluid bg-grey contact">
            <h2 class="text-center" style="padding-bottom: unset;">
                <strong style="color: #555;">
                    CONTACT
                </strong>
            </h2>
            <h4 style="text-align: center;margin: 0 auto; color: #888;">We'd love your feedback!</h4>
            <br>
            <div class="row">
                <div class="col-sm-5 contactP">
                    <p>Contact us and we'll get back to you.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Ahmedabad, India</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +91 7990712559</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> inspire@startinspire.com</p>
                </div>
                <div class="col-sm-7">
                    <form method="post" style="width: 100%">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control cred" id="id_Name" name="Name" placeholder="Name" type="text" required="" style="background-color:#ffffff;border-color:#3333338a">
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control cred" id="id_Email" name="Email" placeholder="Email" type="email" required="" style="background-color:#ffffff;border-color:#3333338a">
                            </div>
                        </div>
                        <textarea class="form-control" id="id_Comment" name="Comments" placeholder="Comment" rows="5" style="background-color:#ffffff; border-color:#3333338a"></textarea><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-default pull-right" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="background: #ee860c; margin-left: -30px; margin-right: -30px;">
                <div class="col-md-12 footer">
                    <p>© Divya Kripa 2018</p>
                    <div class="w3-xlarge w3-section">
                        <a href="https://www.facebook.com" class="foot">
                            <i class="fa fa-facebook-official w3-hover-opacity ">
                            </i>
                        </a>
                        <a href="https://www.instagram.com" class="foot">
                            <i class="fa fa-instagram w3-hover-opacity"></i>
                        </a>
                        <a href="https://twitter.com" class="foot">
                            <i class="fa fa-twitter w3-hover-opacity"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ankur-ranjan-35787414b/" class="foot">
                            <i class="fa fa-linkedin w3-hover-opacity"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

