{% extends "darshan/otherBase.html" %}

{% load temple_extra %}
{% block content %}
    {% block style %}
    {% endblock style %}
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12" align="right">
                <p>
                    <label>Name:</label>
                    <span>{{ u.first_name }}</span><span> {{ u.last_name }}</span>
                </p>
                {% if v.Mobile_No %}
                <p>
                    
                    <label>Mobile No.:</label>
                    <span>{{ v.Mobile_No }}</span>
                    
                </p>
                {% endif %}
                <p>
                    <label>Email:</label>
                    <span>{{ u.email }}</span>
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12" align="center">
                <form action="{% url 'darshan:user_profile' %}" method="post" role="form">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
                <br>
            </div>
        </div>

       {% if object_list %}

        <p style="text-align: center;">  ADD TIME FROM DROPDOWN </p>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" style="width: 100% !important;"> {% csrf_token %}
                    {% for x in object_list %}
                        <div class="row">
                            <div class="col-md-8 col-offset-4">
                                
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="id_Temple1">
                                                {{ x }}
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-primary">
                                                <a style="color: white" class="launch-modal" 
                                            data-toggle="modal" data-target="#myModal6" data-backdrop="static">
                                                    Delete
                                                </a>
                                            </button>

                                             
                                         <!-- Modal -->
                                          <div class="modal fade" id="myModal6" role="dialog">
                                            <div class="modal-dialog">
                                            
                                              <!-- Modal content-->
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title" style="color: red">Warning</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <p>Do you want to delete it???</p>
                                                </div>
                                                <div class="modal-footer">
                                                 <a href="{% url 'darshan:delete' value=x %}"><button type="button" class="btn btn-default" >Yes</button></a>
                                                 <a href="{% url 'darshan:user_profile' %}"><button type="button" class="btn btn-default" > No </button></a>
                                                </div>
                                              </div>
                                              
                                            </div>
                                          </div> 

                                        </div>
                                        <div class="col-md-8">
                                            {% for y in x|temple %}
                                                <td>
                                                    <select class="django-select" name="{{ x }}" multiple="multiple">
                                                        {% with temp=y|picture %}
                                                            {% for z in temp %}
                                                                <option  value="{{ z.id }}"{% for x1 in query_list.selected %}{% if x1 == z.id %} selected{% endif %}{% endfor %}>
                                                                    {{ z.Time }}
                                                                </option>
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </select>
                                                </td>
                                                

                                                <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <p style="text-align: center">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </p>
                </form>
            </div>
        </div>
    {% endif %}    
        <hr>
        <div class="row">
            <div class="col-md-12" align="center">
                <button class="btn btn-primary">
                    <a href="{% url 'darshan:accounts' %}" style="color: white">
                        Ready for Darshan
                    </a>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_change_var }}=1">&laquo; first</a>
                            <a href="?{{ page_change_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                        {% if object_list.has_next %}
                            <a href="?{{ page_change_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                            <a href="?{{ page_change_var }}={{ object_list.paginator.num_pages }} ">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}