{% extends 'darshan/otherBase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block content %}
    {% block style %}
    {% endblock style %}
    <style>
        body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Roboto', Tahoma, Arial, sans-serif;
            line-height: 1.5;
            font-size: 13px;
        }

        form {
            outline: 0;
            float: left;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        form > .textbox {
            outline: 0;
            height: 42px;
            width: 244px;
            line-height: 42px;
            padding: 0 16px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #212121;
            border: 0;
            float: left;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        form > .textbox:focus {
            outline: 0;
            background-color: #FFF;
        }

        form > .button {
            outline: 0;
            background: none;
            background-color: #ee860c;
            float: left;
            height: 42px;
            width: 54px;
            text-align: center;
            line-height: 42px;
            border: 0;
            color: #FFF;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 16px;
            text-rendering: auto;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition: background-color .4s ease;
            transition: background-color .4s ease;
            -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }

        form > .button:hover {
            background-color: rgba(0, 150, 136, 0.8);
        }
    </style>
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-12">
                <form method="GET" action="" style="width: unset!important; float: right">
                    <input type="text" name="q" class="textbox" placeholder="Search Temples" value="{{ request.GET.q }}">
                    <input title="Search" value="Search" type="submit" class="button">
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <form method="Post" role="form" style="width: 100% !important; padding: 20px;">
                    <h4>Filter By Temples</h4>
                    {% csrf_token %}
                    <label for="id_temple0">Temples:</label><br>
                    {% for x in query_list %}
                        <input type="checkbox" name="temples" id="id_temple0" value="{{ x.id }}"
                               style="float: left !important;">{{ x }}<br>
                    {% endfor %}
                    <br>
                    <button class="btn btn-primary" type="submit">Apply</button>
                </form>
            </div>
            <div class="col-md-10">
                {% if list %}
                    {% for x in list %}
                        {% for y in x|product %}
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    {% if y.Photo %}
                                        <img src="{{ y.Photo.url }}">
                                    {% else %} 
                                        <img src="{% static 'images/300.png' %}"> 
                                    {% endif %}    
                                    
                                    {{ y.Product_Name }}<br>
                                    {{ y.Price }}
                                    <a href="{% url 'shop:details1' val=y.Product_Name %}">
                                        <button class="btn btn-default" style="float: right;margin-bottom: 10px;">
                                            View
                                        </button>
                                    </a>

                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for x in b %}
                        {% for y in x|product %}
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    {% if y.Photo %}
                                        <img src="{{ y.Photo.url }}">
                                    {% else %} 
                                        <img src="{% static 'images/300.png' %}"> 
                                    {% endif %}
                                    {{ y.Product_Name }}<br>
                                    {{ y.Price }}
                                    <a href="{% url 'shop:details1' val=y.Product_Name %}">
                                        <button class="btn btn-default" style="float: right;margin-bottom: 10px;">
                                            View
                                        </button>
                                    </a>

                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}