{% extends 'darshan/otherBase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block content %}
    {% block style %}
    {% endblock style %}
    <div class="container-fluid" style="margin-top: 15px">
        <div class="row">
            <div class="col-md-12">
                {% for p in product %}
                    <div class="col-md-5">
                        <img {% if p.Photo %} src="{{ p.Photo.url }}" {% else %} alt="{{ p.Product_Name }}" {% endif %} class="img-responsive" style="max-width: 100% !important;">
                    </div>
                    <div class="col-md-7 ">
                        <h3>
                           {{ p.Product_Name }}
                        </h3>
                        <p>
                            <br>
                            Rs.{{ p.Price }}
                        </p>
                        <p>
                            
                            {% if p.Offer_or_Discount %}
                            <strong>Offer or Discount: </strong>
                                {{ p.Offer_or_Discount }}
                            {% endif %}    
                        </p>
                        <p>
                        
                           <strong>Description: </strong>
                           <div class="content-markdown">{{ p.Product_Description }}</div> 
                        
                        </p>
                        <br><br>
                        <p>
                            {% if user.is_authenticated %}
                                <form action="{% url 'cart:add_to_cart' p.id %}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <input type="submit" value="Add to Cart">
                                    <!--add Product Description-->
                                </form>
                            {% elif not user.is_authenticated and not user.is_superuser %}
                                <form action="{% url 'cart:cart_add' p.id %}" method="post">
                                    {{ cart_product_forms }}
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Add to Cart">
                                    <!--add Product Description-->
                                </form>
                            {% endif %}
                        </p>


                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}