{% extends 'darshan/../accountregistrations/otherBase.html' %}

{% block content %}
<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">
    <div class="col-md-12">
	  <h3 style="text-align: center;">Forgot password.Enter Your Email.</h3>
	  <hr>
	  <form method="post" >
	    {% csrf_token %}
	    {{ form.as_p }}
	  <hr>  
	    <p style="text-align: center;"><button type="submit" class="btn btn-primary">Submit</button></p>
	  </form>
	  </div>
  </div>
 </div>

{% endblock %}